:root {
    --primary-color: #4CAF50; /* Green */
    --secondary-color: #f44336; /* Red */
    --accent-color: #FFC107; /* Amber */
    --background-color: #f0f4f8; /* Light Gray */
    --text-color: #333333; /* Dark Gray */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    
}
.ara {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chat-container {
    width: 360px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 600px;
    max-height: 100%;
}

.chat-header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.chat-box {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: var(--background-color);
}

.message {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    position: relative;
    max-width: 70%;
    word-wrap: break-word;
}

.message.sent {
    background-color: var(--primary-color);
    color: white;
    align-self: flex-end;
    text-align: right;
}

.message.received {
    background-color: white;
    color: var(--text-color);
    border: 1px solid #ddd;
    align-self: flex-start;
}

.timestamp {
    display: block;
    font-size: 0.75rem;
    color: #888;
    margin-top: 0.5rem;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 0.5rem;
}

.chat-input input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.chat-input button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #45a049;
}
