:root {
    --primary-color: #4CAF50; /* Green */
    --secondary-color: #f44336; /* Red */
    --accent-color: #FFC107; /* Amber */
    --background-color: #f0f4f8; /* Light Gray */
    --text-color: #333333; /* Dark Gray */
}

body {
    font-family: Arial, sans-serif;
    
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--secondary-color);
}
